{% assign featured_items = site.data.featured %}
{% assign item_count = featured_items | size %}

{% if item_count > 0 %}
<div class="featured-hero featured-count-{{ item_count }}">

  {% for item in featured_items limit:4 %}
  <div class="featured-card">

    <a href="{{ item.href }}" class="featured-hero-image">
      <img loading="lazy" src="{{ item.thumb }}" alt="{{ item.title }}">
    </a>

    <div class="featured-hero-meta">

      {% if item.type %}
      <div class="featured-hero-type">{{ item.type }}</div>
      {% endif %}

      {% if item.title %}
      <div class="featured-hero-title">{{ item.title }}</div>
      {% endif %}

      {% if item.caption %}
      <div class="featured-hero-caption">{{ item.caption }}</div>
      {% endif %}

    </div>

  </div>
  {% endfor %}

</div>
{% endif %}