{%- assign to = "pretzelvision@gmail.com" -%}
{%- assign subj = "Pretzelvision feedback: " | append: page.url -%}

<p class="send-note">
Pretzelvision is an ongoing project, and I add new drawings, music, cartoons, and writing from time to time.
If you'd like an occasional email when something new is posted, let me know.

Also, have a reaction to a drawing, song, missive or anything else? Email me at
  <a href="mailto:{{ to }}?subject={{ subj | uri_escape }}">{{ to }}</a> 
  and, with your permission, I'll share selected responses.
</p>
